<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ImageSizeSection" type="ContextImageResizer.Config.ImageSizeSection, ContextImageResizer" />
  </configSections>
  <appSettings>
    <add key="SelectedSize" value="Small" />
  </appSettings>
  <ImageSizeSection>
    <elements>
      <add name="Extra Small" width="320" height="240" />
      <add name="Small" width="640" height="480" />
      <add name="Medium" width="1024" height="768" />
      <add name="Large" width="1600" height="900" />
      <add name="Extra Large" width="2560" height="1920" />
    </elements>
  </ImageSizeSection>
</configuration>